# Rossmann Store Sales
## This project is a part of the book Learn Keras for Deep Neural Networks by Jojo Moolayil

In [1]:
import pandas as pd
df = pd.read_csv("train.csv")

E:\Aadi\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df.shape

(1017209, 9)

In [3]:
df.head(5)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [4]:
store = pd.read_csv("store.csv")

In [5]:
store.shape

(1115, 10)

In [6]:
store.head(5)

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [7]:
# inner join the two datasets 
new_df = df.merge(store, on=["Store"], how="inner")

In [8]:
new_df.shape

(1017209, 18)

In [12]:
print("distinct number of stores: " ,len(new_df["Store"].unique()))
print("average sales: ", round(new_df["Sales"].mean(),2))

distinct number of stores:  1115
average sales:  5773.82

In [15]:
new_df.dtypes

Store                          int64
DayOfWeek                      int64
Date                          object
Sales                          int64
Customers                      int64
Open                           int64
Promo                          int64
StateHoliday                  object
SchoolHoliday                  int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

### Let us extract useful features from the ["Date"] column

In [16]:
import numpy as np

In [17]:
new_df["Date"] = pd.to_datetime(new_df["Date"], infer_datetime_format=True)

In [18]:
new_df.head(5)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

In [19]:
new_df["Month"] = new_df["Date"].dt.month

In [21]:
new_df["Quarter"] = new_df["Date"].dt.quarter

In [22]:
new_df["Year"] = new_df["Date"].dt.year

In [23]:
new_df["Week"] = new_df["Date"].dt.week

In [24]:
new_df["Day"] = new_df["Date"].dt.day

In [28]:
new_df["Season"] = np.where(new_df["Month"].isin([3,4,5]),"Spring",
                    np.where(new_df["Month"].isin([6,7,8]),"Summer",
                    np.where(new_df["Month"].isin([9,10,11]),"Fall",
                    np.where(new_df["Month"].isin([12,1,2]),"Winter", "None"))))

In [29]:
new_df.head(5)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Quarter,Year,Week,Day,Season
0,1,5,2015-07-31,5263,555,1,1,0,1,c,...,0,NaN,NaN,NaN,7,3,2015,31,31,Summer
1,1,4,2015-07-30,5020,546,1,1,0,1,c,...,0,NaN,NaN,NaN,7,3,2015,31,30,Summer
2,1,3,2015-07-29,4782,523,1,1,0,1,c,...,0,NaN,NaN,NaN,7,3,2015,31,29,Summer
3,1,2,2015-07-28,5011,560,1,1,0,1,c,...,0,NaN,NaN,NaN,7,3,2015,31,28,Summer
4,1,1,2015-07-27,6102,612,1,1,0,1,c,...,0,NaN,NaN,NaN,7,3,2015,31,27,Summer